.header{background-color:#FFFCB0 ;}
.container{max-width: 1400px;text-align: center;
    background-color:#B0C6FF ;
margin: 0 auto;}
.card{max-width: 280px;
display: inline-block;
padding: 20px;

text-align: center;
background-color: white;

margin:20px;
margin-top: 50px;
}
h1{text-align: center;
color: white;
font-size: 60px;
padding: 30px;
font-family: Arial, Helvetica, sans-serif;
}
.read-more{background-color: #6177EB;
height: 30px;
text-align: center;
width: 100px;
color: white;
margin-top: 15px;}
h2{margin: 15px;}